<!DOCTYPE html>
<HTML>
<head>
	<title> Currículo</title>
	<link rel="shortcut icon" type="image/x-icon" href="curriculum.ico">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
      .row> div {
          padding: 20px;
          background-color: white;
          border: 2px solid black;
      }
    </style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-4" align="left">
				<style>
					body {
        				background-color: #000000;
    				}
    				div {
        				
        				background-color: #700000;
    				}
    			</style>

				<center><img src="fabrizio.jpeg" alt="Foto" style="width:250px"></<center>
				

				<hr/>
				
				
				<p>
					<h4> SOBRE MI </h4>
					<fieldset align="left">
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mi nombre es Fabrizio Sebastian Riguetti &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Palomino. Soy Licenciado en Ciencia de la &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Computación. <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estudié en la Universidad Católica San &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pablo (UCSP).
						</p>
					</fieldset>
				</p>
				<p>
				<hr>
					<h4>CONTACTO</h4>
					<fieldset align="left">
					
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="wttp.jpeg" alt="logo whatsapp" style="width:35px" align=middle> 981-385-128
						<br>

						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="gmail.jpeg" alt="logo mail" style="width:25px" align=middle> fabrizio.riguett@ucsp.edu.pe
						<br>

						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="instagram.jpeg" alt="logo instagram" style="width:25px" align=middle> @Riguetti25
						<br>

						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="ubicacion.jpeg" alt="logo instagram" style="width:25px" align=middle> Urb. Dolores D-30 <br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;José Luis Bustamante y Rivero	
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Arequipa, Perú.

					</fieldset>
					<br>
				
				</p>
				
				<hr/>

				<p>
				
					<h4>IDIOMAS</h4>
					<fieldset align="left">
						
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Español &nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" id="a" name="aa" value="a">
																				<input type="checkbox" id="b" name="aa" value="b"> 
																				<input type="checkbox" id="c" name="aa" value="c" checked >
																				<input type="checkbox" id="d" name="aa" value="d" checked>
																				<input type="checkbox" id="e" name="aa" value="e" checked>
																				<input type="checkbox" id="f" name="aa" value="f" checked>
 																		    
						<br>
						
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inglés &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="g" name="gg" value="g">
																				<input type="checkbox" id="h" name="gg" value="h"> 
																				<input type="checkbox" id="i" name="gg" value="i" >
																				<input type="checkbox" id="j" name="gg" value="j">
																				<input type="checkbox" id="k" name="gg" value="k">
																				<input type="checkbox" id="l" name="gg" value="l" checked>
						
						<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Portugués &nbsp;<input type="checkbox" id="m" name="mm" value="m">
																				<input type="checkbox" id="n" name="mm" value="n"> 
																				<input type="checkbox" id="o name="mm" value="o" >
																				<input type="checkbox" id="p" name="mm" value="p">
																				<input type="checkbox" id="q" name="mm" value="q">
																				<input type="checkbox" id="r" name="mm" value="r" checked>
					</fieldset>
					<br>
			
				</p>
				


			</div>
			<div class="col-8">
<br><br>
				<div class="col-12">
					
					<h3><center><p style="color:white";>Fabrizio Riguetti Palomino </p></center></h3>
					<h4><center><p style="color:white";>Licenciado en Ciencia de la Computación</p></center></h4>

				</div>	
				<hr/>
				<h3><i>EXPERIENCIA LABORAL</i> </h3>
				<br>
				02/01/2015 - 30/11/2017 <br>
				<b>Programador web </b>
				<fieldset>
					<li>Aplicaciones móviles</li>
					<li>Páginas web: HTML 5, CSS </li>
					
				</fieldset>
				Avícola San Fernando - Lima, Perú.
				<br><br>
				01/12/2017 - 31/12/2020 <br>
				<b>Analista - Programador </b>
				<fieldset>
					<li>Análisis, diseño, desarrollo, implementación y prueba de aplicaciones móviles </li>
					<li>Utilización de C++, Python, Java y HTML5</li>
					<li>Soporte técnico a usuarios</li>
				</fieldset>
				Ripley - Lima, Perú.
				<hr/>
				<h3><i>FORMACIÓN</i> </h3>
				<br>
				<p>
					<fieldset>
						2010 - 2014 <br>
						Licenciado en Ciencia de la computación | Universidad Católica San Pablo 
						<br><br>
						2014 - 2015 <br>
						Promagrama de especializacion en Python | Universidad Católica San Pablo
						<br><br>
						20016 - 2018 <br>
						Idioma Inglés, nivel básico | Instituto Cultural Peruano Norteamericano
						<br><br>
						2019 - 2020 <br>
						Idioma Portugués, nivel básico | Instituto de la Universidad Nacional San Agustín
					</fieldset>
				</p>
				
				<hr/>
				<h3><i>COMPETENCIAS </i> </h3>
				<br>
				<fieldset>
					<li>Conocimiento para mejorar la usabilidad de sitios web</li>
					<li>Alto conocimiento de tecnologías web HTML5, CSSC++</li>
					<li>Experiencia en programación de aplicaciones Android</li>
				</fieldset>
				</div>
				
		</div>
	</div>

</HTML>